# Assignment 5


This time, I'm working with student grades!  I'm going to create some fake student data and work with it, to practice working with `pandas` Series and DataFrames.

## Setup and Preparation

As always, I begin by importing the libraries I need!

In [1]:
import numpy as np
import pandas as pd

If I'm not sure how to do someting, I can use a question mark, as seen below.  If I'm in a Jupyter notebook, the help file will show up below my code.  I forgot how to do `randint`, so I needed a little help.

In [2]:
?np.random.randint

Now that I remember how to do a (pseudo)random integer generator, I'm ready to create a pandas DataFrame.  I'm going to name my DataFrame and its columns well, so that they're "self-documenting" -- it's obvious what they are.  

## Creating a DataFrame

First, I'll create some lists that I'll then include in my DataFrame.  I could create my DataFrame in various different ways, but this, to me, is the most clear.

In [3]:
student_ids = np.random.randint(low = 12345, high = 99999, size = 10)
first_names = ["Susan", "Wendy", "Xu", "Jorge", "Jacob", 
               "Melita", "Jose María", "Nguyet", "Jesse", "Nechama"]
last_names = ["Thompson", "Goldman", "Zhang", "Nuñez", "Felmeister",
              "Robles", "Delgado", "Vu", "Carter", "Cohen"]
last_term_math = np.random.randint(low=70, high=100, size = 10)
this_term_math = np.random.randint(low=70, high=100, size = 10)
last_term_language = np.random.randint(low=70, high=100, size = 10)
this_term_language = np.random.randint(low=70, high=100, size = 10)

In [4]:
student_performance = pd.DataFrame({'first' : first_names,
                                    'last' : last_names,
                                    'last_math' : last_term_math,
                                    'current_math' : this_term_math,
                                    'last_language' : last_term_language,
                                    'current_language' : this_term_language},
                                   index = student_ids)

Let's check out what this data frame looks like, to make sure there were no weird mistakes and I have what looks like a student gradebook:

In [5]:
student_performance

,first,last,last_math,current_math,last_language,current_language
33488,Susan,Thompson,74,70,93,85
70363,Wendy,Goldman,75,75,79,80
97942,Xu,Zhang,98,99,88,71
90989,Jorge,Nuñez,96,73,75,96
73736,Jacob,Felmeister,84,90,79,77
81923,Melita,Robles,96,94,72,87
28240,Jose María,Delgado,83,80,71,79
79831,Nguyet,Vu,89,91,78,74
40367,Jesse,Carter,86,73,71,75
64075,Nechama,Cohen,73,99,95,72

Okay, I'm happy with my fake data, so now on to analysis!

## Grade Trends

I want to identify:

* Highest and lowest math grade
* Overall (mean) change in math grades from last term to this term
* Highest and lowest language grade
* Overall (mean) change in language grades from last term to this term

We'll do this step by step.

### Math Grades: High and Low

Let's start by finding the highest and lowest math grade (in both terms!)

Again, there are lots of ways to do this, but I'm going to do it using this algorithm:

* Find the lowest math grade last term
* Find the lowest math grade this term
* Find the lowest of those two

And similarly for the highest math grade.

In [6]:
low_math_last = student_performance['last_math'].min()
low_math_current = student_performance['current_math'].min()
lowest_math = min(low_math_last, low_math_current)
print("The lowest math grade is: " + str(lowest_math))

The lowest math grade is: 70

In [7]:
high_math_last = student_performance['last_math'].max()
high_math_current = student_performance['current_math'].max()
highest_math = max(high_math_last, high_math_current)
print("The highest math grade is: " + str(highest_math))

The highest math grade is: 99

### Languge Grades: High and Low

I'm going to do the same for language grades:

In [8]:
low_language_last = student_performance['last_language'].min()
low_language_current = student_performance['current_language'].min()
lowest_language = min(low_language_last, low_language_current)
print("The lowest language grade is: " + str(lowest_language))


high_language_last = student_performance['last_language'].max()
high_language_current = student_performance['current_language'].max()
highest_language = max(high_language_last, high_language_current)
print("The highest language grade is: " + str(highest_language))

The lowest language grade is: 71
The highest language grade is: 96

### Math Grades: Student Improvement

We'll do some vectorized math to find each student's improvement (current - last term grades) in math.  Then we'll take the average of all those improvement amounts to find the overall (mean) improvement.  If the number is negative, that means we are actually going down in grades, on average!

In [9]:
math_improvement = student_performance['current_math'] - student_performance['last_math']
average_math_improvement = math_improvement.mean()
print("The overall, or average, math improvement from last term to this term is: " + 
      str(average_math_improvement) +
     " points.")

The overall, or average, math improvement from last term to this term is: -1.0 points.

### Language Grades: Student Improvement

We'll do the same thing for language grades:

In [10]:
language_improvement = student_performance['current_language'] - student_performance['last_language']
average_language_improvement = language_improvement.mean()
print("The overall, or average, language improvement from last term to this term is: " + 
      str(average_language_improvement) +
     " points.")

The overall, or average, language improvement from last term to this term is: -0.5 points.

## Finding Data

We now want to use `.loc` and `.iloc` to find specific data.  

### Using `.loc`

Let's say, for example, we want to find the current math grade for a specific id.  This is how we'll do that:

* Select an id number (say, the fifth id in my list of ids)
* Look up the current math grade for that id number, using `.loc`.

In [11]:
my_id = student_ids[4]
print("The ID I'm looking for is: ", str(my_id))

The ID I'm looking for is:  73736

Let's look at the whole record:

In [12]:
student_performance.loc[my_id]

first                    Jacob
last                Felmeister
last_math                   84
current_math                90
last_language               79
current_language            77
Name: 73736, dtype: object

But what if I want to identify just the current math grade?

In [13]:
student_performance.loc[my_id]['current_math']

90

### Using `.iloc`

Using `.iloc` is just based on numbers.  So let's find the 6th column (current language grade) of the 2nd row.  We recall that in Python, we start counting at zero!

In [14]:
student_performance.iloc[1,5]

80

## Sorting Data

Currently, our data is in random order.  Let's say we want to organize our data by last name.

In [15]:
student_performance.sort_values(by = 'last')

,first,last,last_math,current_math,last_language,current_language
40367,Jesse,Carter,86,73,71,75
64075,Nechama,Cohen,73,99,95,72
28240,Jose María,Delgado,83,80,71,79
73736,Jacob,Felmeister,84,90,79,77
70363,Wendy,Goldman,75,75,79,80
90989,Jorge,Nuñez,96,73,75,96
81923,Melita,Robles,96,94,72,87
33488,Susan,Thompson,74,70,93,85
79831,Nguyet,Vu,89,91,78,74
97942,Xu,Zhang,98,99,88,71